
/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #000;
  background-color: #fff;
}
#site-title {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: none;
}
#site-title a:link,
#site-title a:visited {
  display: block;
  position: relative;
  color: #000;
  font-size: 1em;
}
#site-title a:hover {
  color: #000;
}
#site-logo {
  float: left;
  height: 2.75em;
  margin-right: 0.5em;
}
#site-tagline {
  display: none;
  float: left;
  max-width: 10em;
  position: relative;
  top: 0.25em;
}


/* =Navigation Menu
-------------------------------------------------------------- */

#nav-btn {
  background-color: #eee;
  color: #999;
  text-shadow: none;
}
.access a:visited, 
.access a:active, 
.access a:link {
  color: #000;
  background-color: #eee;
  border: 0;
  box-shadow: none;
  border-radius: 0;
}
.access a:hover {
  background-color: #000;
  color: #fff;
}

a.list-toggle-btn:visited, 
a.list-toggle-btn:active, 
a.list-toggle-btn:link {
  background-color: #000;
  color: #eee;
  text-shadow: none;
  box-shadow: none;
}
a.list-toggle-btn:hover {
  color: #fff;
  background-color: #333;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
  background-color: #000;
  color: #eee;
  text-shadow: none;
}
a.add-place:hover {
  color: #fff;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #fff;
}
ul.recent-points {
  color: #000;
}
.recent-points li {
  border-bottom: 1px solid #ddd;
}
.recent-points li:hover {
  background: #eee;
}
.recent-points a {
  color: #000;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #000;
}


/* =Legend & Guidelines Chart
-------------------------------------------------------------- */

.legend {
  background-color: #eee;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  list-style: none;
  margin: 0;
  font-weight: bold;
}
.legend li {
  padding: 8px 0 2px 0 !important;
}
.legend img {
  float: left;
  position: relative;
  z-index: 2;
  margin-top: -8px;
}
.legend img + img {
  margin-right: -21px;
  right: 31px;
  z-index: 1;
  opacity: 0.25;
}
.color-info {
  font-size: 0.85em;
  background: #ddd;
  color: #666;
  margin: 0 0 -6px !important;
  padding: 6px 4px 8px 0 !important;
}
.color-info img {
  margin-top: -12px;
}

.guidelines-header {
  clear: both;
  padding-top: 0.75em;
  border-top: 1px solid #ddd;
}
.guidelines-header img {
  float: right;
  position: relative;
  z-index: 2;
}
.guidelines-header img + img {
  margin-right: -31px;
  z-index: 1;
  opacity: 0.25;
}
.eligibility-header {
  text-transform: uppercase;
  color: #777;
}
.eligible {
  float: left;
  width: 48%;
}
.non-eligible {
  float: right;
  width: 48%;
}
.muted {
  font-size: 0.85em;
  font-weight: normal;
}

/* =Place Details
-------------------------------------------------------------- */

.place-items {
  padding-bottom: 1.5em;
}
.place-items p {
  margin-bottom: 0.5em !important;
}
.description {
  font-size: 1.5em;
}
.approved-location-type {
  background-color: #ffee80;
  float: left;
  padding: 0.5em 1em 0.5em 36px;
  position: relative;
  font-size: 0.85em;
  line-height: 1.5;
}
.approved-location-type + h1 {
  clear: left;
}
.approved-location-icon {
  float: left;
  width: 31px;
  height: 32px;
  position: absolute;
  top: -6px;
  left: 2px;
  z-index: 2;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.approved-location-shadow {
  content: '';
  float: left;
  width: 31px;
  height: 32px;
  background: transparent url(images/markers/shadow-square.png) 0 0 no-repeat scroll;
  position: absolute;
  top: -6px;
  left: 2px;
  z-index: 1;
  opacity: 0.25;
}
.culture .approved-location-icon {
  background-image: url(images/markers/communitycenter-gold.png); 
}
.education .approved-location-icon {
  background-image: url(images/markers/books-gold.png); 
}
.environment .approved-location-icon {
  background-image: url(images/markers/tree-gold.png); 
}
.housing .approved-location-icon {
  background-image: url(images/markers/building-gold.png); 
}
.parks .approved-location-icon {
  background-image: url(images/markers/swings-gold.png); 
}
.health .approved-location-icon {
  background-image: url(images/markers/cross-gold.png); 
}
.safety .approved-location-icon {
  background-image: url(images/markers/badge-gold.png); 
}
.seniors .approved-location-icon {
  background-image: url(images/markers/seniors-gold.png); 
}
.streets .approved-location-icon {
  background-image: url(images/markers/cone-gold.png); 
}
.transit .approved-location-icon {
  background-image: url(images/markers/bus-gold.png); 
}
.youth .approved-location-icon {
  background-image: url(images/markers/balloons-gold.png); 
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 22em) {
  #site-tagline {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  #site-title a:link,
  #site-title a:visited {
    font-size: 1.375em;
  }
  #site-tagline {
    top: 0.125em;
  }
  .access a:visited, 
  .access a:active, 
  .access a:link {
    background-color: #fff;
  }
  .access a:hover {
    background-color: #000;
    color: #fff;
  }
}
