
/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body, select, input, textarea {
  font-family: "Lato", Verdana, Segoe, sans-serif;
}
label { font-size: 1em; text-transform: none; color: #555; }
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", Tahoma, sans-serif;
  font-weight: 700;
}

h3 {
  margin-bottom: 1rem;
}


/* Buttons */
.btn,
.btn:visited,
.btn:link {
  background-color: #7226ff;
  color: #fff;
}
.btn:hover, .button:hover, button:hover {
  background-color: #1b194a;
}
.btn-primary, .btn-primary:visited, .btn-primary:link {
  background-color: #7226ff;
  color: #fff;
}
.btn-primary:hover {
  background-color: #1b194a;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #116faf;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #7226ff;
  color: #fff;
}

/* Forms */
label {
}

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  border: 0.25em solid #ddd;
}
input:focus,
textarea:focus {
  border: 0.25em solid #f93c04;
  outline: 2px solid #f93c04;
}

.detail-text input[type=text],
.detail-text input[type=text]:focus {
  display: inline-block;
  width: 10em;
  height: 1.25em;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.detail-text {
  display: none;
}

input:checked + .detail-text {
  display: inline;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #000;
  background-color: #fff;
}
#site-title {
  color: #000;
  font-size: 1.125em;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-shadow: none;
}
  #site-title a:link,
  #site-title a:visited {
    font-size: 1em;
    color:#000;
  }

#site-logo {
  float: left;
  height: 1.25em;
  margin-bottom: 0.25em;
}
#nav-btn {
  background-color: #fff;
  color: #1b194a;
  text-shadow: none;
}
.access a,
.access a:visited,
.access a:active,
.access a:link {
  color: #fff;
  background-color: #7226ff;
  border: 0;
}
.access a:hover {
  background-color: #1b194a;
  color: #fff;
}
#auth-nav-container {}
a#sign-in-btn {
  color: #7226ff;
}
a#sign-in-btn:hover {
  color: #1b194a;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

#add-place-btn-container {
  background-color: #fbfbf3;
  border: 0;
}
a#add-place {
  background-color: #f93c04;
  color: #fff;
}
a#add-place:hover {
  background-color: #1b194a;
  color: #fff;
}


/* =Geocoding
-------------------------------------------------------------- */

#geocode-address-bar {
  background-color: #fbfbf3;
  border-right: 1px solid #c3d7e5;
}
.geocode-address-label {
  font-size: 0.75em;
}
input.geocode-address-field {
  border-width: 0;
  background-color: #fff;
  color: #555;
}
#geocode-address-bar .error {
  line-height: 1.75;
  background-color: #F26161;
  box-shadow: 2px 2px 0 #F26161, 2px -2px 0 #F26161, -2px 2px 0 #F26161, -2px -2px 0 #F26161;
}
#geocode-address-bar .error + form {
  box-shadow: 2px 2px 0 #F26161, 2px -2px 0 #F26161, -2px 2px 0 #F26161, -2px -2px 0 #F26161;
}
#geocode-address-bar .error.is-hidden + form {
  box-shadow: none;
}
.geocode-spinner {
  background-color: #fff;
}


/* =Footer
-------------------------------------------------------------- */

#colophon,
#powered-by a.shareabouts-logo,
#powered-by a.shareabouts-logo:hover,
#powered-by a.openplans-logo,
#powered-by a.openplans-logo:hover {
  background-color: #fff;
  color: #888;
}


/* =Map
-------------------------------------------------------------- */
#map-container {
  background: #ccc;
}

#map {
  background: #ccc;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #fff;
}
.recent-points li {}
.recent-points li:hover {
  background: #eee;
}
.recent-points a {
  color: #555;
  border-bottom: 1px solid #ddd;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #fff;
  background-color: #7226ff;
  border-color: #7226ff;
}


/* =Legend & Guidelines Chart
-------------------------------------------------------------- */

.legend {
  background-color: #fbfbf3;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  list-style: none;
  margin: 0;
  font-weight: bold;
}
.legend li {
  padding: 8px 0 2px 0 !important;
}
.legend img {
  float: left;
  position: relative;
  margin-right: 8px;
  margin-top: 1px;
  z-index: 2;
}
.legend img + img {
  margin-right: -21px;
  right: 31px;
  z-index: 1;
  opacity: 0.25;
}
.color-info {
  font-size: 0.85em;
  background: #ddd;
  color: #666;
  margin: 0 0 -6px !important;
  padding: 6px 4px 8px 0 !important;
}
.color-info img {
  margin-top: -12px;
}

.guidelines-header {
  clear: both;
  padding-top: 0.75em;
  border-top: 1px solid #ddd;
}
.guidelines-header img {
  float: right;
  position: relative;
  z-index: 2;
}
.guidelines-header img + img {
  margin-right: -31px;
  z-index: 1;
  opacity: 0.25;
}
.eligibility-header {
  text-transform: uppercase;
  color: #777;
}
.eligible {
  float: left;
  width: 48%;
}
.non-eligible {
  float: right;
  width: 48%;
}
.muted {
  font-size: 0.85em;
  font-weight: normal;
}


/* =Place Details
-------------------------------------------------------------- */

.place-items {
  padding-bottom: 1.5em;
}
.place-items p {
  margin-bottom: 0.5em !important;
}
.description {
  font-size: 1.5em;
}
.approved-location-type {
  background-color: #ffee80;
  float: left;
  padding: 0.5em 1em 0.5em 56px;
  position: relative;
  font-size: 0.85em;
  line-height: 1.5;
}
.approved-location-type + h1 {
  clear: left;
}
.approved-location-icon {
  float: left;
  width: 50px;
  height: 60px;
  position: absolute;
  top: -6px;
  left: 2px;
  z-index: 2;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.culture .approved-location-icon {
  background-image: url(images/markers/new/facilities-small.png);
}
.education .approved-location-icon {
  background-image: url(images/markers/new/education-small.png);
}
.environment .approved-location-icon {
  background-image: url(images/markers/new/tree-small.png);
}
.housing .approved-location-icon {
  background-image: url(images/markers/new/housing-small.png);
}
.parks .approved-location-icon {
  background-image: url(images/markers/new/playground-small.png);
}
.health .approved-location-icon {
  background-image: url(images/markers/new/health-small.png);
}
.safety .approved-location-icon {
  background-image: url(images/markers/new/safety-small.png);
}
.seniors .approved-location-icon {
  background-image: url(images/markers/new/seniors-small.png);
}
.streets .approved-location-icon {
  background-image: url(images/markers/new/street-sidewalk-small.png);
}
.transit .approved-location-icon {
  background-image: url(images/markers/new/transit-small.png);
}
.youth .approved-location-icon {
  background-image: url(images/markers/new/youth-small.png);
}

/* Promotion: Voting & Sharing */
.user-support label {
  color: #fff;
}
.user-support input[type=checkbox]:checked ~ label {}
.user-support:hover label {
  background-color: #1b194a;
}

p.checkbox {
  margin-bottom: 0.5em;
  clear: both;
}
input[type=checkbox] {
  float: left;
  margin: 0.25em 0.5em 0 0;
}
p.checkbox + p.select {
  margin-top: 1.5em;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 22em) {
  #site-tagline {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  #site-title a:link,
  #site-title a:visited {
    font-size: 1em;
    color:#000;
  }
  #site-title a:hover {
    color: #000;
  }
#site-logo {
    height: 4em;
    margin: 0 0 0 -0.5em;
  }
  .access {
    font-size: 0.75em;
  }
  .access li {
    margin: 0;
  }
  .access a,
  .access a:visited,
  .access a:active,
  .access a:link {
    background-color: #fff;
    color: #1b194a;
    box-shadow: none;
  }
  .access a:hover {
    background-color: #7226ff;
    color: #fff;
  }
  .list-toggle-nav {
    font-size: 0.75em;
    float: left;
  }
  a.list-toggle-btn:visited,
  a.list-toggle-btn:active,
  a.list-toggle-btn:link {
    background-color: #fff;
    color: #1b194a;
    text-shadow: none;
    box-shadow: none;
    border: 0;
  }
  a.list-toggle-btn:hover {
    background-color: #7226ff;
    color: #fff;
  }
  #add-place-btn-container {
    background-color: transparent;
  }
}

@media only screen and (min-width: 70em) {
  .access,
  .list-toggle-nav {
    font-size: 0.875em;
  }
}


#current-filter-type {
  position: absolute;
  width: 100%;
  margin-top: -0.3em;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: white;
  border-top: 1px solid black;
}

#current-filter-type.unfiltered { background: none; border: none; }




/* =============
 * Disable input
 * =============
 */

/*#auth-nav-container {
  display: none;
}
.or-sign-in {
  display: none;
}
div #reply {
  display: none;
}
a.reply-link.btn.btn-small {
  display: none;
}

.support .user-support:hover {
  background-color: #7226ff;
  color: #fff;
  cursor: default;
}
.support .user-support:hover label {
  background-color: transparent;
  color: #fff;
}
*/


/* ==========
 * Static map
 * ==========
 * Make the legend taller, because we no longer show
 * activity (static map data).
 */

/*@media only screen and (min-width: 60em) {
  .legend.translate {
    border-top: 1px solid #ddd;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
  }
  .legend.icons {
    height: 100%;
    box-sizing: border-box;
  }
}
*/