
/* =Base Styles
-------------------------------------------------------------- */

/* Typography */
body, select, input, textarea {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  background-color: #116faf;
  color: #fff;
}
.btn:hover, .button:hover, button:hover {
  background-color: #e28623;
}
.btn-primary, .btn-primary:visited, .btn-primary:link {
  background-color: #116faf;
  color: #fff;
}
.btn-primary:hover {
  background-color: #e28623;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #116faf;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #e28623;
  color: #fff;
}

/* Forms */
label {
}
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  border: 0.25em solid #c3d7e5;
}
input:focus,
textarea:focus {
  border: 0.25em solid #116faf;
  outline: 2px solid #116faf;
}


/* =The Site Header
-------------------------------------------------------------- */

#site-header {
  color: #000;
  background-color: #fff;
}
#site-logo {
  float: left;
  height: 1em;
  margin-bottom: 0.5em;
}
#nav-btn {
  background-color: #fff;
  color: #e28623;
  text-shadow: none;
}
.access a, 
.access a:visited, 
.access a:active, 
.access a:link {
  color: #fff;
  background-color: #116faf;
  border: 0;
}
.access a:hover {
  background-color: #e28623;
  color: #fff;
}
#auth-nav-container {}
a#sign-in-btn {
  color: #116faf;
}
a#sign-in-btn:hover {
  color: #e28623;
}


/* =The Big Button to Add A New Point
-------------------------------------------------------------- */

a.add-place {
  background-color: #000;
  color: #eee;
  text-shadow: none;
}
a.add-place:hover {
  color: #fff;
}


/* =Geocoding
-------------------------------------------------------------- */

#geocode-address-bar {
  background-color: #e6f0f9;
  border-right: 1px solid #c3d7e5;
}
input.geocode-address-field {
  border-width: 0;
  background-color: #fff;
  color: #555;
}
#geocode-address-bar .error {
  line-height: 1.75;
  background-color: #F26161;
  box-shadow: 2px 2px 0 #F26161, 2px -2px 0 #F26161, -2px 2px 0 #F26161, -2px -2px 0 #F26161;
}
#geocode-address-bar .error + form {
  box-shadow: 2px 2px 0 #F26161, 2px -2px 0 #F26161, -2px 2px 0 #F26161, -2px -2px 0 #F26161;
}
#geocode-address-bar .error.is-hidden + form {
  box-shadow: none;
}
.geocode-spinner {
  background-color: #fff;
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: #fff;
}
.recent-points li {}
.recent-points li:hover {
  background: #eee;
}
.recent-points a {
  color: #555;
  border-bottom: 1px solid #ddd;
}
.recent-points li:hover a,
.recent-points a:hover {
  color: #555;
  background-color: #c3d7e5;
  border-color: #c3d7e5;
}


/* =Legend & Guidelines Chart
-------------------------------------------------------------- */

.legend {
  background-color: #e6f0f9;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
  list-style: none;
  margin: 0;
  font-weight: bold;
}
.legend li {
  padding: 8px 0 2px 0 !important;
}
.legend img {
  float: left;
  position: relative;
  z-index: 2;
  margin-top: -8px;
}
.legend img + img {
  margin-right: -21px;
  right: 31px;
  z-index: 1;
  opacity: 0.25;
}
.color-info {
  font-size: 0.85em;
  background: #ddd;
  color: #666;
  margin: 0 0 -6px !important;
  padding: 6px 4px 8px 0 !important;
}
.color-info img {
  margin-top: -12px;
}

.guidelines-header {
  clear: both;
  padding-top: 0.75em;
  border-top: 1px solid #ddd;
}
.guidelines-header img {
  float: right;
  position: relative;
  z-index: 2;
}
.guidelines-header img + img {
  margin-right: -31px;
  z-index: 1;
  opacity: 0.25;
}
.eligibility-header {
  text-transform: uppercase;
  color: #777;
}
.eligible {
  float: left;
  width: 48%;
}
.non-eligible {
  float: right;
  width: 48%;
}
.muted {
  font-size: 0.85em;
  font-weight: normal;
}


/* =Place Details
-------------------------------------------------------------- */

.place-items {
  padding-bottom: 1.5em;
}
.place-items p {
  margin-bottom: 0.5em !important;
}
.description {
  font-size: 1.5em;
}
.approved-location-type {
  background-color: #ffee80;
  float: left;
  padding: 0.5em 1em 0.5em 36px;
  position: relative;
  font-size: 0.85em;
  line-height: 1.5;
}
.approved-location-type + h1 {
  clear: left;
}
.approved-location-icon {
  float: left;
  width: 31px;
  height: 32px;
  position: absolute;
  top: -6px;
  left: 2px;
  z-index: 2;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.approved-location-shadow {
  content: '';
  float: left;
  width: 31px;
  height: 32px;
  background: transparent url(images/markers/shadow-square.png) 0 0 no-repeat scroll;
  position: absolute;
  top: -6px;
  left: 2px;
  z-index: 1;
  opacity: 0.25;
}
.culture .approved-location-icon {
  background-image: url(images/markers/communitycenter-gold.png); 
}
.education .approved-location-icon {
  background-image: url(images/markers/books-gold.png); 
}
.environment .approved-location-icon {
  background-image: url(images/markers/tree-gold.png); 
}
.housing .approved-location-icon {
  background-image: url(images/markers/building-gold.png); 
}
.parks .approved-location-icon {
  background-image: url(images/markers/swings-gold.png); 
}
.health .approved-location-icon {
  background-image: url(images/markers/cross-gold.png); 
}
.safety .approved-location-icon {
  background-image: url(images/markers/badge-gold.png); 
}
.seniors .approved-location-icon {
  background-image: url(images/markers/seniors-gold.png); 
}
.streets .approved-location-icon {
  background-image: url(images/markers/cone-gold.png); 
}
.transit .approved-location-icon {
  background-image: url(images/markers/bus-gold.png); 
}
.youth .approved-location-icon {
  background-image: url(images/markers/balloons-gold.png); 
}

/* Promotion: Voting & Sharing */
.user-support label {
  color: #fff;
}
.user-support input[type=checkbox]:checked ~ label {
}
.user-support:hover label {
  background-color: #e28623;
  color: #fff;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 22em) {
  #site-tagline {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  #site-title a:link,
  #site-title a:visited {
    font-size: 1em;
  }
  #site-logo {
    height: 3.25em;
  }
  .access {
    font-size: 0.75em;
  }
  .access li {
    margin: 0;
  }
  .access a, 
  .access a:visited, 
  .access a:active, 
  .access a:link {
    background-color: #fff;
    color: #e28623;
    box-shadow: none;
  }
  .access a:hover {
    background-color: #116faf;
    color: #fff;
  }
  .list-toggle-nav {
    font-size: 0.75em;
    float: left;
  }
  a.list-toggle-btn:visited, 
  a.list-toggle-btn:active, 
  a.list-toggle-btn:link {
    background-color: #fff;
    color: #e28623;
    text-shadow: none;
    box-shadow: none;
    border: 0;
  }
  a.list-toggle-btn:hover {
    color: #116faf;
    background-color: #fff;
  }
}

@media only screen and (min-width: 70em) {
  .access,
  .list-toggle-nav {
    font-size: 0.875em;
  }
}